<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{HH:mm:ss} %5p [%t] (%F:%L) - %m%n" />
		</layout>
		<!--限制输出级别 -->
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMax" value="ERROR" />
			<param name="LevelMin" value="TRACE" />
		</filter>
	</appender>
	
	<logger name="com.losy">
	    <level value="DEBUG"/>
	</logger>
	<logger name="org.apache.ibatis.jdbc.ScriptRunner">
		<level value="DEBUG"/>
	</logger>
	<logger name="org.activiti">
	    <level value="DEBUG"/>
	</logger>
	<logger name="org.springframework.web">
	    <level value="WARN"/>
	</logger>
	<logger name="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<level value="debug"/>
	</logger>
	
	<root>
		<priority value="INFO" />
		<appender-ref ref="CONSOLE"/>
	<!-- 	<appender-ref ref="FILE" /> -->
	</root>
	
</log4j:configuration>  


<!-- 	<appender name="FILE" class="org.apache.log4j.FileAppender">
		<param name="File" value="C:/log4j1.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d - %c -%-4r [%t] %-5p %x - %m%n" />
		</layout>
	</appender> -->